# Dependencies
node_modules/

# Build output
dist/

# Local env files
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
*.log
npm-debug.log*

# Testing
coverage/
test-results/
test-results-prod/
**/test-results/
**/test-results/**/*
playwright-report/
playwright-report-prod/
**/playwright-report/
**/playwright-report/**/*
*.test-results.json
*.test-results.xml

# Temp
.cache/
*.local

