# Backend API URL
# Для dev: используется в vite.config.ts для proxy
# Для prod: передается в nginx через BACKEND_URL
VITE_BACKEND_URL=https://stickerartgallery-e13nst.amvera.io

# Production backend URL (для Nginx в Docker)
BACKEND_URL=https://stickerartgallery-e13nst.amvera.io

