# Backend API URL
# Для dev: используется в vite.config.ts для proxy
# Для prod: передается в nginx через BACKEND_URL
VITE_BACKEND_URL=http://localhost:8080

# Production backend URL (для Nginx в Docker)
# Для Docker/Nginx (прод) можно переопределить на прод-URL
BACKEND_URL=https://stickerartgallery-e13nst.amvera.io

