{
  "openapi": "3.0.1",
  "info": {
    "title": "Sticker Art Gallery API",
    "description": "API для галереи стикеров с системой аутентификации через Telegram Web App initData.\n\n## Аутентификация\nДля доступа к API необходимо использовать аутентификацию через Telegram initData.\n\n### Как получить initData:\n1. В Telegram Web App вызовите `window.Telegram.WebApp.initData`\n2. Скопируйте полученную строку\n3. Вставьте её в поле авторизации в Swagger UI\n\n### Формат initData:\n```\nquery_id=...&user=...&auth_date=...&hash=...\n```\n\n## Эндпоинты\n- `/api/auth/**` - публичные эндпоинты аутентификации\n- `/api/stickersets/**` - работа со стикерами (требует USER/ADMIN)\n- `/api/categories/**` - работа с категориями стикеров (требует USER/ADMIN)\n- `/api/likes/**` - система лайков стикеров (требует USER/ADMIN)\n- `/api/users/**` - данные пользователей из Telegram (требует USER/ADMIN)\n- `/api/profiles/**` - профили пользователей с балансом (требует USER/ADMIN)\n",
    "contact": {
      "name": "Sticker Art Gallery Team",
      "email": "support@stickergallery.com"
    },
    "license": {
      "name": "MIT License",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://stickerartgallery-e13nst.amvera.io",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "TelegramInitData": []
    }
  ],
  "tags": [
    {"name": "Реферальная программа", "description": "API для работы с реферальными ссылками и бонусами"},
    {"name": "Аналитика (Admin)", "description": "Дашборд аналитики: KPI, таймсерии и детализации за период (только для админа)"},
    {"name": "Config", "description": "API для получения конфигурации приложения"},
    {"name": "Internal Webhooks API", "description": "Internal API для обработки webhook'ов от StickerBot API (авторизация через X-Service-Token)"},
    {"name": "ART Транзакции (Admin)", "description": "Журнал ART транзакций всех пользователей (только для админа)"},
    {"name": "Пресеты стилей", "description": "API для управления пресетами стилей генерации (пользовательские и глобальные)"},
    {"name": "Админские операции со стикерсетами", "description": "Управление официальным статусом и авторами стикерсетов (только для админов)"},
    {"name": "Специализированные запросы стикерсетов", "description": "Запросы стикерсетов по пользователю, автору и статистика"},
    {"name": "Пользователи", "description": "Данные пользователей из Telegram"},
    {"name": "Likes", "description": "API для управления лайками стикерсетов"},
    {"name": "Авторы", "description": "Данные об авторах стикерсетов"},
    {"name": "Генерация стикеров", "description": "API для генерации стикеров через WaveSpeed"},
    {"name": "Статистика сервиса", "description": "Агрегированные показатели для главной страницы"},
    {"name": "AI функции стикерсетов", "description": "AI-функции для стикерсетов: предложение категорий и генерация описаний"},
    {"name": "Изображения", "description": "API для получения кэшированных изображений"},
    {"name": "Dislikes", "description": "API для управления дизлайками стикерсетов"},
    {"name": "TON транзакции", "description": "Управление TON-транзакциями в Telegram Mini App"},
    {"name": "TON Транзакции (Admin)", "description": "Журнал TON транзакций всех пользователей (только для админа)"},
    {"name": "Stars Packages (Admin)", "description": "Управление тарифными пакетами Stars (только для админа)"},
    {"name": "Аутентификация", "description": "Эндпоинты для аутентификации через Telegram Web App"},
    {"name": "Categories", "description": "API для управления категориями стикерсетов"},
    {"name": "Лог генерации стикеров (Админ)", "description": "Просмотр audit-лога генерации: сессии, этапы, ошибки (только для админа)"},
    {"name": "Кошельки", "description": "Управление TON-кошельками пользователей"},
    {"name": "Профили пользователей", "description": "Управление профилями пользователей"},
    {"name": "Telegram Stars", "description": "Покупка ART за Telegram Stars"},
    {"name": "Стикерсеты", "description": "Управление стикерсетами пользователей"},
    {"name": "Internal Sticker Sets", "description": "Эндпоинты для межсервисного создания стикерсетов в галерее"},
    {"name": "ART Правила", "description": "Управление правилами начисления и списания ART"},
    {"name": "Swipes", "description": "API для управления системой отслеживания свайпов"},
    {"name": "Энхансеры промптов (Админ)", "description": "API для управления энхансерами промптов (только для админа)"},
    {"name": "ART Тарифы", "description": "Публичная информация о тарифах начисления и списания ART"},
    {"name": "Видимость стикерсетов", "description": "Управление видимостью стикерсетов (публикация, скрытие, блокировка)"}
  ],
  "paths": {
    "/api/likes/stickersets/{stickerSetId}/toggle": {
      "put": {
        "tags": ["Likes"],
        "summary": "Переключить лайк стикерсета",
        "description": "Переключает состояние лайка: если лайк есть - убирает его, если нет - ставит. Возвращает текущее состояние лайка (поле liked) и общее количество лайков стикерсета.",
        "operationId": "toggleLike",
        "parameters": [{"name": "stickerSetId", "in": "path", "required": true, "schema": {"type": "integer", "format": "int64"}, "example": 5}],
        "responses": {
          "200": {"description": "Лайк успешно переключен", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LikeToggleResult"}, "example": {"liked": true, "totalLikes": 42}}}},
          "401": {"description": "Не авторизован"},
          "404": {"description": "Стикерсет не найден"},
          "500": {"description": "Внутренняя ошибка сервера"}
        },
        "security": [{"TelegramInitData": []}]
      }
    }
  },
  "components": {
    "schemas": {
      "LikeToggleResult": {
        "type": "object",
        "properties": {
          "totalLikes": {"type": "integer", "format": "int64", "description": "Общее количество лайков", "example": 42},
          "totalDislikes": {"type": "integer", "format": "int64", "example": 0},
          "liked": {"type": "boolean", "description": "Статус лайка после переключения (бэкенд); фронт нормализует в isLiked", "example": true}
        },
        "description": "Результат переключения лайка стикерсета"
      }
    },
    "securitySchemes": {
      "TelegramInitData": {
        "type": "apiKey",
        "description": "Telegram Web App initData строка.",
        "name": "X-Telegram-Init-Data",
        "in": "header"
      },
      "ServiceToken": {
        "type": "apiKey",
        "description": "Межсервисный токен (API key) для доступа к внутренним эндпоинтам.",
        "name": "X-Service-Token",
        "in": "header"
      }
    }
  }
}
