{"openapi":"3.0.1","info":{"title":"Sticker Art Gallery API","description":"API для галереи стикеров с системой аутентификации через Telegram Web App initData.\n\n## Аутентификация\nДля доступа к API необходимо использовать аутентификацию через Telegram initData.\n\n### Как получить initData:\n1. В Telegram Web App вызовите `window.Telegram.WebApp.initData`\n2. Скопируйте полученную строку\n3. Вставьте её в поле авторизации в Swagger UI\n\n### Формат initData:\n```\nquery_id=...&user=...&auth_date=...&hash=...\n```\n\n## Эндпоинты\n- `/api/auth/**` - публичные эндпоинты аутентификации\n- `/api/stickersets/**` - работа со стикерами (требует USER/ADMIN)\n- `/api/categories/**` - работа с категориями стикеров (требует USER/ADMIN)\n- `/api/likes/**` - система лайков стикеров (требует USER/ADMIN)\n- `/api/users/**` - данные пользователей из Telegram (требует USER/ADMIN)\n- `/api/profiles/**` - профили пользователей с балансом (требует USER/ADMIN)\n","contact":{"name":"Sticker Art Gallery Team","email":"support@stickergallery.com"},"license":{"name":"MIT License","url":"https://opensource.org/licenses/MIT"},"version":"1.0.0"},"servers":[{"url":"https://stickerartgallery-e13nst.amvera.io","description":"Generated server url"}],"security":[{"TelegramInitData":[]}],"tags":[{"name":"Прокси стикеров","description":"Проксирование запросов к внешнему сервису стикеров"},{"name":"Профили пользователей","description":"Управление профилями пользователей"},{"name":"Стикерсеты","description":"Управление стикерсетами пользователей"},{"name":"Internal Sticker Sets","description":"Эндпоинты для межсервисного создания стикерсетов в галерее"},{"name":"Likes","description":"API для управления лайками стикерсетов"},{"name":"Config","description":"API для получения конфигурации приложения"},{"name":"Аутентификация","description":"Эндпоинты для аутентификации через Telegram Web App"},{"name":"Categories","description":"API для управления категориями стикерсетов"},{"name":"Пользователи","description":"Данные пользователей из Telegram"}],"paths":{"/api/stickersets/{id}/unofficial":{"put":{"tags":["Стикерсеты"],"summary":"Снять официальный статус","description":"Устанавливает флаг isOfficial=false для стикерсета (доступно только админу).","operationId":"markStickerSetUnofficial","parameters":[{"name":"id","in":"path","description":"ID стикерсета","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Стикерсет с указанным ID не найден","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object"}}}},"403":{"description":"Доступ запрещен - только админ может изменять официальный статус","content":{"application/json":{"schema":{"type":"object"}}}},"200":{"description":"Стикерсет отмечен как неофициальный","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/stickersets/{id}/unblock":{"put":{"tags":["Стикерсеты"],"summary":"Разблокировать стикерсет","description":"Разблокирует стикерсет (доступно только админу). Стикерсет снова становится доступным в галерее (если он публичный).","operationId":"unblockStickerSet","parameters":[{"name":"id","in":"path","description":"ID стикерсета для разблокировки","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"schema":{"type":"object"}}}},"200":{"description":"Стикерсет успешно разблокирован","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"},"example":{"id":1,"userId":123456789,"title":"Мои стикеры","name":"my_stickers_by_StickerGalleryBot","isPublic":true,"isBlocked":false,"blockReason":null,"createdAt":"2025-09-15T10:30:00"}}}},"404":{"description":"Стикерсет с указанным ID не найден","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Некорректные данные","content":{"application/json":{"schema":{"type":"object"}}}},"403":{"description":"Доступ запрещен - только админ может разблокировать стикерсеты","content":{"application/json":{"schema":{"type":"object"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/stickersets/{id}/official":{"put":{"tags":["Стикерсеты"],"summary":"Отметить как официальный","description":"Устанавливает флаг isOfficial=true для стикерсета (доступно только админу).","operationId":"markStickerSetOfficial","parameters":[{"name":"id","in":"path","description":"ID стикерсета","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Стикерсет с указанным ID не найден","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object"}}}},"403":{"description":"Доступ запрещен - только админ может изменять официальный статус","content":{"application/json":{"schema":{"type":"object"}}}},"200":{"description":"Стикерсет отмечен как официальный","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/stickersets/{id}/categories":{"put":{"tags":["Стикерсеты"],"summary":"Обновить категории стикерсета","description":"Обновляет категории существующего стикерсета. Полностью заменяет текущие категории на новые. Передайте пустой массив, чтобы удалить все категории. Все ключи категорий должны существовать в системе. Администратор может обновлять любые стикерсеты, обычный пользователь - только свои.","operationId":"updateStickerSetCategories","parameters":[{"name":"id","in":"path","description":"ID стикерсета для обновления категорий","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","description":"Список ключей категорий","items":{"type":"string"}}}},"required":true},"responses":{"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}},"403":{"description":"Доступ запрещен - можно обновлять только свои стикерсеты","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}},"404":{"description":"Стикерсет с указанным ID не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}},"400":{"description":"Некорректные данные или несуществующие категории","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}},"200":{"description":"Категории стикерсета успешно обновлены","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"},"example":{"id":1,"userId":123456789,"title":"Мои стикеры","name":"my_stickers_by_StickerGalleryBot","createdAt":"2025-09-15T10:30:00","categories":[{"id":1,"key":"animals","name":"Животные","description":"Стикеры с животными"},{"id":2,"key":"cute","name":"Милые","description":"Милые стикеры"}]}}}}},"security":[{"TelegramInitData":[]}]}},"/api/stickersets/{id}/block":{"put":{"tags":["Стикерсеты"],"summary":"Заблокировать стикерсет","description":"Блокирует стикерсет (доступно только админу). Заблокированные стикерсеты не отображаются в галерее и в профилях пользователей.","operationId":"blockStickerSet","parameters":[{"name":"id","in":"path","description":"ID стикерсета для блокировки","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"403":{"description":"Доступ запрещен - только админ может блокировать стикерсеты","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"schema":{"type":"object"}}}},"200":{"description":"Стикерсет успешно заблокирован","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"},"example":{"id":1,"userId":123456789,"title":"Мои стикеры","name":"my_stickers_by_StickerGalleryBot","isPublic":true,"isBlocked":true,"blockReason":"Нарушение правил сообщества","createdAt":"2025-09-15T10:30:00"}}}},"404":{"description":"Стикерсет с указанным ID не найден","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Некорректные данные","content":{"application/json":{"schema":{"type":"object"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/stickersets/{id}/author":{"put":{"tags":["Стикерсеты"],"summary":"Установить автора стикерсета","description":"Устанавливает Telegram ID автора (authorId) для стикерсета (доступно только админу).","operationId":"setStickerSetAuthor","parameters":[{"name":"id","in":"path","description":"ID стикерсета","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int64"},"description":"Тело запроса с authorId"}}},"required":true},"responses":{"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"schema":{"type":"object"}}}},"200":{"description":"Автор установлен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"},"example":{"authorId":123456789}}}},"404":{"description":"Стикерсет с указанным ID не найден","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Некорректные данные","content":{"application/json":{"schema":{"type":"object"}}}},"403":{"description":"Доступ запрещен - только админ может устанавливать автора","content":{"application/json":{"schema":{"type":"object"}}}}},"security":[{"TelegramInitData":[]}]},"delete":{"tags":["Стикерсеты"],"summary":"Очистить автора стикерсета","description":"Очищает Telegram ID автора (authorId=null) для стикерсета (доступно только админу).","operationId":"clearStickerSetAuthor","parameters":[{"name":"id","in":"path","description":"ID стикерсета","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Стикерсет с указанным ID не найден","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object"}}}},"403":{"description":"Доступ запрещен - только админ может очищать автора","content":{"application/json":{"schema":{"type":"object"}}}},"200":{"description":"Автор очищен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/profiles/{userId}/balance":{"put":{"tags":["Профили пользователей"],"summary":"Обновить баланс пользователя","description":"Обновляет баланс арт-кредитов пользователя (только для ADMIN)","operationId":"updateUserBalance","parameters":[{"name":"userId","in":"path","description":"Telegram ID пользователя","required":true,"schema":{"type":"integer","format":"int64"},"example":123456789}],"requestBody":{"content":{"application/json":{"schema":{"minimum":0,"type":"integer","description":"Новый баланс","format":"int64"}}},"required":true},"responses":{"200":{"description":"Баланс обновлен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileDto"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileDto"}}}},"404":{"description":"Профиль не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileDto"}}}},"403":{"description":"Доступ запрещен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileDto"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/likes/stickersets/{stickerSetId}/toggle":{"put":{"tags":["Likes"],"summary":"Переключить лайк стикерсета","description":"Переключает состояние лайка: если лайк есть - убирает его, если нет - ставит. Возвращает текущее состояние лайка и общее количество лайков стикерсета.","operationId":"toggleLike","parameters":[{"name":"stickerSetId","in":"path","description":"Уникальный ID стикерсета","required":true,"schema":{"type":"integer","format":"int64"},"example":5}],"responses":{"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LikeToggleResult"}}}},"404":{"description":"Стикерсет не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LikeToggleResult"}}}},"200":{"description":"Лайк успешно переключен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LikeToggleResult"},"example":{"isLiked":true,"totalLikes":42}}}},"401":{"description":"Не авторизован","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LikeToggleResult"}}}}}}},"/api/categories/{key}":{"get":{"tags":["Categories"],"summary":"Получить категорию по ключу","description":"Возвращает информацию о категории по её уникальному ключу. Ключ должен содержать только латинские буквы, цифры и подчеркивания. Поддерживает локализацию названий и описаний через заголовок X-Language (ru/en) или автоматически из initData пользователя.","operationId":"getCategoryByKey","parameters":[{"name":"key","in":"path","description":"Уникальный ключ категории","required":true,"schema":{"type":"string"},"example":"animals"}],"responses":{"200":{"description":"Категория найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDto"}}}},"404":{"description":"Категория не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDto"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDto"}}}}}},"put":{"tags":["Categories"],"summary":"Обновить категорию","description":"Обновляет существующую категорию. Требуется авторизация. Язык ответа определяется через заголовок X-Language (ru/en) или автоматически из initData пользователя.","operationId":"updateCategory","parameters":[{"name":"key","in":"path","description":"Уникальный ключ категории","required":true,"schema":{"type":"string"},"example":"animals"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCategoryDto"}}},"required":true},"responses":{"200":{"description":"Категория успешно обновлена","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"description":"Требуется авторизация","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Категория не найдена","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Некорректные данные","content":{"application/json":{"schema":{"type":"object"}}}}}},"delete":{"tags":["Categories"],"summary":"Деактивировать категорию","description":"Деактивирует категорию (мягкое удаление). Требуется авторизация.","operationId":"deactivateCategory","parameters":[{"name":"key","in":"path","description":"Уникальный ключ категории","required":true,"schema":{"type":"string"},"example":"animals"}],"responses":{"401":{"description":"Требуется авторизация","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Категория не найдена","content":{"application/json":{"schema":{"type":"object"}}}},"204":{"description":"Категория успешно деактивирована","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/internal/stickersets":{"post":{"tags":["Internal Sticker Sets"],"summary":"Создать стикерсет от имени пользователя","description":"Межсервисный эндпоинт для регистрации стикерсета Telegram в галерее.\nТокен сервиса должен быть передан в заголовке `X-Service-Token`.\n","operationId":"createStickerSetForUser","parameters":[{"name":"userId","in":"query","description":"Telegram ID пользователя, от имени которого создаётся стикерсет","required":true,"schema":{"type":"integer","format":"int64"},"example":123456789},{"name":"language","in":"query","description":"Язык сообщений об ошибках (`ru` или `en`). По умолчанию `en`.","required":false,"schema":{"type":"string"},"example":"en"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStickerSetDto"},"example":{"name":"https://t.me/addstickers/my_pack_by_bot","title":"Мои стикеры","categoryKeys":["animals","cute"],"isPublic":true}}},"required":true},"responses":{"401":{"description":"Межсервисная авторизация не пройдена","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Ошибка валидации входных данных","content":{"application/json":{"schema":{"type":"object"}}}},"403":{"description":"Нет прав для выполнения операции","content":{"application/json":{"schema":{"type":"object"}}}},"201":{"description":"Стикерсет успешно создан","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}}},"security":[{"ServiceToken":[]}]}},"/api/stickersets":{"get":{"tags":["Стикерсеты"],"summary":"Получить все стикерсеты с пагинацией и фильтрацией","description":"Возвращает список всех стикерсетов в системе с пагинацией, фильтрацией по категориям и обогащением данных из Telegram Bot API. Поддерживает локализацию названий категорий через заголовок X-Language (ru/en) или автоматически из initData пользователя. Можно фильтровать по категориям через параметр categoryKeys. Можно показать только лайкнутые пользователем стикерсеты через параметр likedOnly=true. Требует авторизации через Telegram Web App.","operationId":"getAllStickerSets","parameters":[{"name":"page","in":"query","description":"Номер страницы (начиная с 0)","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Количество элементов на странице (1-100)","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","format":"int32","default":20},"example":20},{"name":"sort","in":"query","description":"Поле для сортировки (например: createdAt, likesCount)","required":false,"schema":{"type":"string","default":"createdAt"},"example":"likesCount"},{"name":"direction","in":"query","description":"Направление сортировки","required":false,"schema":{"pattern":"ASC|DESC","type":"string","default":"DESC"},"example":"DESC"},{"name":"categoryKeys","in":"query","description":"Фильтр по ключам категорий (через запятую)","required":false,"schema":{"type":"string"},"example":"animals,memes"},{"name":"officialOnly","in":"query","description":"Показывать только официальные стикерсеты","required":false,"schema":{"type":"boolean","default":false},"example":false},{"name":"authorId","in":"query","description":"Фильтр по автору (Telegram ID)","required":false,"schema":{"type":"integer","format":"int64"},"example":123456789},{"name":"hasAuthorOnly","in":"query","description":"Показывать только авторские стикерсеты (authorId IS NOT NULL)","required":false,"schema":{"type":"boolean","default":false},"example":false},{"name":"likedOnly","in":"query","description":"Показать только лайкнутые пользователем стикерсеты","required":false,"schema":{"type":"boolean","default":false},"example":false}],"responses":{"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseStickerSetDto"}}}},"200":{"description":"Список стикерсетов успешно получен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponse"},"examples":{"Обычный список стикерсетов":{"description":"Обычный список стикерсетов","value":{"content":[{"id":1,"userId":123456789,"title":"Мои стикеры","name":"my_stickers_by_StickerGalleryBot","createdAt":"2025-09-15T10:30:00","likesCount":42,"isLikedByCurrentUser":true,"telegramStickerSetInfo":"{\"name\":\"my_stickers_by_StickerGalleryBot\",\"title\":\"Мои стикеры\",\"sticker_type\":\"regular\",\"is_animated\":false,\"stickers\":[...]}","categories":[{"id":1,"key":"animals","name":"Животные","description":"Стикеры с животными","iconUrl":null,"displayOrder":1,"isActive":true}]}],"page":0,"size":20,"totalElements":156,"totalPages":8,"first":true,"last":false,"hasNext":true,"hasPrevious":false}},"Только лайкнутые стикерсеты (likedOnly=true)":{"description":"Только лайкнутые стикерсеты (likedOnly=true)","value":{"content":[{"id":5,"userId":987654321,"title":"Лайкнутые стикеры","name":"liked_stickers_by_StickerGalleryBot","createdAt":"2025-01-15T10:30:00","likesCount":15,"isLikedByCurrentUser":true,"telegramStickerSetInfo":"{\"name\":\"liked_stickers_by_StickerGalleryBot\",\"title\":\"Лайкнутые стикеры\",\"sticker_type\":\"regular\",\"is_animated\":false,\"stickers\":[...]}","categories":[{"id":2,"key":"cute","name":"Милые","description":"Милые стикеры","iconUrl":null,"displayOrder":130,"isActive":true}]}],"page":0,"size":20,"totalElements":3,"totalPages":1,"first":true,"last":true,"hasNext":false,"hasPrevious":false}},"Фильтр по автору (authorId=123456789)":{"description":"Фильтр по автору (authorId=123456789)","value":{"content":[{"id":10,"userId":543210987,"title":"Авторский набор","name":"author_pack_by_StickerGalleryBot","authorId":123456789,"createdAt":"2025-05-10T10:30:00","likesCount":7,"isLikedByCurrentUser":false,"categories":[]}],"page":0,"size":20,"totalElements":1,"totalPages":1,"first":true,"last":true,"hasNext":false,"hasPrevious":false}},"Только авторские (hasAuthorOnly=true) и официальные (officialOnly=true)":{"description":"Только авторские (hasAuthorOnly=true) и официальные (officialOnly=true)","value":{"content":[{"id":12,"userId":222222222,"title":"Официальный авторский","name":"official_author_by_StickerGalleryBot","authorId":111111111,"isOfficial":true,"createdAt":"2025-06-01T09:00:00","likesCount":24,"isLikedByCurrentUser":false,"categories":[]}],"page":0,"size":20,"totalElements":1,"totalPages":1,"first":true,"last":true,"hasNext":false,"hasPrevious":false}}}}}},"500":{"description":"Внутренняя ошибка сервера или проблемы с Telegram Bot API","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseStickerSetDto"}}}},"400":{"description":"Некорректные параметры пагинации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseStickerSetDto"}}}}},"security":[{"TelegramInitData":[]}]},"post":{"tags":["Стикерсеты"],"summary":"Создать новый стикерсет","description":"Регистрирует в галерее уже существующий набор стикеров Telegram.\n\n**Формат запроса**\n```\nPOST /api/stickersets\nContent-Type: application/json\nHeaders: X-Telegram-Init-Data: <initData>\n\n{\n  \"name\": \"https://t.me/addstickers/my_pack_by_bot\",\n  \"title\": \"Мои стикеры\",\n  \"categoryKeys\": [\"animals\", \"cute\"],\n  \"isPublic\": true\n}\n```\n\nПоле `name` обязательно. Остальные поля опциональны: `title` подтягивается из Telegram Bot API, если не указано;\n`isPublic` по умолчанию `true`. Пользователь определяется по заголовку `X-Telegram-Init-Data`.\n\n**Результат**\nВозвращает полный `StickerSetDto`, идентичный ответу `GET /api/stickersets/{id}` (включая категории, счётчики и данные Telegram Bot API).\n","operationId":"createStickerSet","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStickerSetDto"},"example":{"name":"https://t.me/addstickers/my_pack_by_bot","title":"Мои стикеры","categoryKeys":["animals","cute"],"isPublic":true}}},"required":true},"responses":{"403":{"description":"Пользователь заблокирован","content":{"application/json":{"example":{"error":"Forbidden","message":"User is blocked"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"example":{"error":"Внутренняя ошибка сервера","message":"Произошла непредвиденная ошибка при создании стикерсета"}}}},"201":{"description":"Стикерсет успешно создан","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"},"example":{"id":5,"userId":123456789,"title":"Мои стикеры","name":"my_stickers_by_StickerGalleryBot","createdAt":"2025-01-15T14:30:00","telegramStickerSetInfo":"{\"name\":\"my_stickers_by_StickerGalleryBot\",\"title\":\"Мои стикеры\",\"sticker_type\":\"regular\",\"is_animated\":false,\"stickers\":[...]}","categories":[{"id":1,"key":"animals","name":"Animals","description":"Stickers with animals","iconUrl":null,"displayOrder":1,"isActive":true},{"id":2,"key":"cute","name":"Cute","description":"Cute and adorable stickers","iconUrl":null,"displayOrder":130,"isActive":true}]}}}},"400":{"description":"Ошибка валидации данных","content":{"application/json":{"examples":{"Дубликат имени":{"description":"Дубликат имени","value":{"error":"Ошибка валидации","message":"Стикерсет с именем 'existing_sticker_set' уже существует в галерее"}},"Некорректное имя":{"description":"Некорректное имя","value":{"error":"Ошибка валидации","message":"Некорректное имя стикерсета или URL. Ожидается имя стикерсета или URL вида https://t.me/addstickers/имя_стикерсета"}},"Несуществующие категории":{"description":"Несуществующие категории","value":{"error":"Ошибка валидации","message":"Категории с ключами [non_existent_category] не найдены"}}}}}},"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"example":{"error":"Unauthorized","message":"Требуется авторизация через Telegram Web App"}}}},"404":{"description":"Стикерсет не найден в Telegram","content":{"application/json":{"example":{"error":"Ошибка валидации","message":"Стикерсет 'nonexistent_sticker_set' не найден в Telegram"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/stickersets/{id}/unpublish":{"post":{"tags":["Стикерсеты"],"summary":"Скрыть стикерсет из галереи","description":"Делает стикерсет приватным - видимым только владельцу в его профиле. Администратор может скрывать любые стикерсеты, обычный пользователь - только свои.","operationId":"unpublishStickerSet","parameters":[{"name":"id","in":"path","description":"ID стикерсета для скрытия","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"403":{"description":"Доступ запрещен - можно скрывать только свои стикерсеты","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"schema":{"type":"object"}}}},"200":{"description":"Стикерсет успешно скрыт","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"},"example":{"id":1,"userId":123456789,"title":"Мои стикеры","name":"my_stickers_by_StickerGalleryBot","isPublic":false,"createdAt":"2025-09-15T10:30:00"}}}},"404":{"description":"Стикерсет с указанным ID не найден","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/stickersets/{id}/publish":{"post":{"tags":["Стикерсеты"],"summary":"Опубликовать стикерсет в галерее","description":"Делает стикерсет публичным - видимым для всех пользователей в галерее. Администратор может публиковать любые стикерсеты, обычный пользователь - только свои.","operationId":"publishStickerSet","parameters":[{"name":"id","in":"path","description":"ID стикерсета для публикации","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"403":{"description":"Доступ запрещен - можно публиковать только свои стикерсеты","content":{"application/json":{"schema":{"type":"object"}}}},"200":{"description":"Стикерсет успешно опубликован","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"},"example":{"id":1,"userId":123456789,"title":"Мои стикеры","name":"my_stickers_by_StickerGalleryBot","isPublic":true,"createdAt":"2025-09-15T10:30:00"}}}},"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Стикерсет с указанным ID не найден","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/stickersets/{id}/ai/suggest-categories":{"post":{"tags":["Стикерсеты"],"summary":"Предложить категории для стикерсета","description":"Использует AI (ChatGPT) для анализа title стикерсета и предложения наиболее подходящих категорий. С параметром apply=false возвращает только предпросмотр, с apply=true - применяет категории. Параметр minConfidence задает минимальный уровень уверенности (0.0-1.0) для применения категорий при apply=true. При apply=false этот параметр не имеет значения. Доступно владельцу стикерсета или администратору. Для работы требуется переменная окружения OPENAI_API_KEY.","operationId":"suggestCategoriesForStickerSet","parameters":[{"name":"id","in":"path","description":"ID стикерсета","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"apply","in":"query","description":"Применить категории (true) или только предпросмотр (false)","required":false,"schema":{"type":"boolean","default":false},"example":false},{"name":"minConfidence","in":"query","description":"Минимальный уровень уверенности (0.0-1.0) для применения категорий при apply=true. Категории с confidence ниже этого значения не будут применены. При apply=false этот параметр не имеет значения.","required":false,"schema":{"maximum":1.0,"exclusiveMaximum":false,"minimum":0.0,"exclusiveMinimum":false,"type":"number","format":"double"},"example":0.8}],"responses":{"500":{"description":"Внутренняя ошибка сервера или ошибка при работе с AI","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorySuggestionResult"}}}},"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorySuggestionResult"}}}},"200":{"description":"Категории успешно предложены","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorySuggestionResult"},"example":{"analyzedTitle":"Cute Cats","suggestedCategories":[{"categoryKey":"animals","categoryName":"Животные","confidence":0.95,"reason":"Contains cat-related imagery"},{"categoryKey":"cute","categoryName":"Милые","confidence":0.87,"reason":"Title explicitly mentions cute theme"}]}}}},"403":{"description":"Доступ запрещен - можно категоризовать только свои стикерсеты","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorySuggestionResult"}}}},"404":{"description":"Стикерсет с указанным ID не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorySuggestionResult"}}}},"400":{"description":"Некорректные данные или стикерсет без title","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorySuggestionResult"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/profiles/{userId}/balance/add":{"post":{"tags":["Профили пользователей"],"summary":"Добавить к балансу пользователя","description":"Добавляет указанное количество арт-кредитов к балансу пользователя (только для ADMIN)","operationId":"addToUserBalance","parameters":[{"name":"userId","in":"path","description":"Telegram ID пользователя","required":true,"schema":{"type":"integer","format":"int64"},"example":123456789}],"requestBody":{"content":{"application/json":{"schema":{"type":"integer","description":"Количество для добавления","format":"int64"}}},"required":true},"responses":{"200":{"description":"Баланс обновлен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileDto"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileDto"}}}},"404":{"description":"Профиль не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileDto"}}}},"403":{"description":"Доступ запрещен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileDto"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/likes/stickersets/{stickerSetId}":{"post":{"tags":["Likes"],"summary":"Поставить лайк стикерсету","description":"Добавляет лайк от текущего пользователя к указанному стикерсету. Если пользователь уже лайкнул этот стикерсет, возвращается ошибка.","operationId":"likeStickerSet","parameters":[{"name":"stickerSetId","in":"path","description":"Уникальный ID стикерсета","required":true,"schema":{"type":"integer","format":"int64"},"example":5}],"responses":{"400":{"description":"Некорректные данные или стикерсет уже лайкнут","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LikeDto"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LikeDto"}}}},"404":{"description":"Стикерсет не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LikeDto"}}}},"401":{"description":"Не авторизован","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LikeDto"}}}},"200":{"description":"Лайк успешно поставлен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LikeDto"},"example":{"id":1,"userId":123456789,"stickerSetId":5,"createdAt":"2025-01-15T10:30:00"}}}}}},"delete":{"tags":["Likes"],"summary":"Убрать лайк со стикерсета","description":"Удаляет лайк текущего пользователя с указанного стикерсета. Если лайк не найден, возвращается ошибка.","operationId":"unlikeStickerSet","parameters":[{"name":"stickerSetId","in":"path","description":"Уникальный ID стикерсета","required":true,"schema":{"type":"integer","format":"int64"},"example":5}],"responses":{"200":{"description":"Лайк успешно убран"},"500":{"description":"Внутренняя ошибка сервера"},"401":{"description":"Не авторизован"},"400":{"description":"Лайк не найден"}}}},"/api/categories":{"get":{"tags":["Categories"],"summary":"Получить все активные категории","description":"Возвращает список всех активных категорий с локализацией через заголовок X-Language (ru/en) или автоматически из initData пользователя. Категории возвращаются отсортированными по displayOrder. Поддерживает русский и английский языки для названий и описаний.","operationId":"getAllCategories","responses":{"200":{"description":"Список категорий успешно получен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDto"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryDto"}}}}}}},"post":{"tags":["Categories"],"summary":"Создать новую категорию","description":"Создает новую категорию с поддержкой локализации. Поле 'key' является обязательным и должно быть уникальным. Поддерживает создание категорий с названиями и описаниями на русском и английском языках. Язык ответа определяется через заголовок X-Language (ru/en) или автоматически из initData пользователя. displayOrder определяет порядок отображения в списке категорий.","operationId":"createCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCategoryDto"}}},"required":true},"responses":{"400":{"description":"Некорректные данные или категория уже существует","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"description":"Требуется авторизация","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object"}}}},"201":{"description":"Категория успешно создана","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDto"}}}}}}},"/api/categories/ai/test-chatgpt":{"get":{"tags":["Categories"],"summary":"Тест подключения к ChatGPT (GET)","description":"Простой тест для проверки работоспособности подключения к OpenAI ChatGPT. Принимает message и prompt через параметры запроса, возвращает ответ от AI. Доступен только для администраторов.","operationId":"testChatGPTGet","parameters":[{"name":"message","in":"query","description":"Сообщение пользователя для AI","required":false,"schema":{"type":"string","default":"Привет! Как дела?"},"example":"Привет, как дела?"},{"name":"prompt","in":"query","description":"Системный промпт для AI","required":false,"schema":{"type":"string","default":"Ты дружелюбный помощник."},"example":"Ты дружелюбный помощник"}],"responses":{"403":{"description":"Доступ запрещен - требуется роль ADMIN","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"Ответ от ChatGPT получен","content":{"application/json":{"schema":{"type":"string"}}}},"500":{"description":"Ошибка при вызове ChatGPT","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"post":{"tags":["Categories"],"summary":"Тест подключения к ChatGPT (POST)","description":"Простой тест для проверки работоспособности подключения к OpenAI ChatGPT. Принимает message и prompt через JSON body, возвращает ответ от AI. Доступен только для администраторов.","operationId":"testChatGPTPost","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"403":{"description":"Доступ запрещен - требуется роль ADMIN","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Ошибка при вызове ChatGPT","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"Ответ от ChatGPT получен","content":{"application/json":{"schema":{"type":"string"},"example":{"success":true,"message":"Ответ от AI","response":"Текст ответа от ChatGPT","responseLength":150,"timestamp":"2025-11-02T08:30:00Z"}}}}}}},"/api/auth/validate":{"post":{"tags":["Аутентификация"],"summary":"Валидация Telegram initData","description":"Проверяет валидность Telegram Web App initData","operationId":"validateInitData","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"description":"Данные для валидации"}}},"required":true},"responses":{"200":{"description":"Валидация выполнена успешно","content":{"application/json":{"schema":{"type":"string"},"example":{"valid":true,"telegramId":123456789,"message":"InitData is valid"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"type":"string"},"example":{"valid":false,"error":"Invalid initData"}}}}}}},"/api/auth/user":{"post":{"tags":["Аутентификация"],"summary":"Получение информации о пользователе","description":"Находит пользователя по Telegram initData и возвращает его информацию","operationId":"getUserInfo","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"description":"Данные для поиска пользователя"}}},"required":true},"responses":{"200":{"description":"Пользователь найден","content":{"application/json":{"schema":{"type":"string"},"example":{"success":true,"user":{"id":1,"telegramId":123456789,"username":"testuser","firstName":"Test","lastName":"User","role":"USER","artBalance":0},"message":"User found"}}}},"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"404":{"description":"Пользователь не найден","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/auth/register":{"post":{"tags":["Аутентификация"],"summary":"Регистрация пользователя","description":"Создает нового пользователя или находит существующего по Telegram initData","operationId":"registerUser","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"description":"Данные для регистрации пользователя"}}},"required":true},"responses":{"400":{"description":"Ошибка валидации","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"Пользователь зарегистрирован","content":{"application/json":{"schema":{"type":"string"},"example":{"success":true,"user":{"id":1,"telegramId":123456789,"username":"testuser","firstName":"Test","lastName":"User","role":"USER","artBalance":0},"message":"User registered successfully"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/users/{id}":{"get":{"tags":["Пользователи"],"summary":"Получить данные пользователя из Telegram","description":"Возвращает данные пользователя из Telegram Bot API по его ID","operationId":"getUserById","parameters":[{"name":"id","in":"path","description":"Telegram ID пользователя","required":true,"schema":{"type":"integer","format":"int64"},"example":123456789}],"responses":{"404":{"description":"Пользователь не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDto"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDto"}}}},"200":{"description":"Данные пользователя получены","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDto"},"example":{"id":123456789,"username":"testuser","firstName":"Test","lastName":"User","languageCode":"ru","isPremium":true,"createdAt":"2025-10-20T10:00:00Z","updatedAt":"2025-10-20T10:00:00Z"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/users/{id}/photo":{"get":{"tags":["Пользователи"],"summary":"Получить фото профиля пользователя","description":"Возвращает информацию о фото профиля пользователя из Telegram Bot API с file_id для скачивания","operationId":"getUserPhoto","parameters":[{"name":"id","in":"path","description":"Telegram ID пользователя","required":true,"schema":{"type":"integer","format":"int64"},"example":123456789}],"responses":{"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"Фото профиля получено","content":{"application/json":{"schema":{"type":"string"},"example":"{\n    \"profilePhotos\": {\n        \"total_count\": 4,\n        \"photos\": [[{...}]]\n    },\n    \"profilePhotoFileId\": \"AgACAgIAAxkBAAIBY2...\"\n}\n"}}},"404":{"description":"Пользователь не найден или нет фото","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"security":[{"TelegramInitData":[]}]}},"/api/stickersets/{id}":{"get":{"tags":["Стикерсеты"],"summary":"Получить стикерсет по ID","description":"Возвращает информацию о стикерсете по его уникальному идентификатору. Включает информацию о том, лайкнул ли текущий пользователь этот стикерсет (поле isLikedByCurrentUser). Для неавторизованных пользователей это поле будет false.","operationId":"getStickerSetById","parameters":[{"name":"id","in":"path","description":"Уникальный идентификатор стикерсета","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"400":{"description":"Некорректный ID (должен быть положительным числом)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}},"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}},"404":{"description":"Стикерсет с указанным ID не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}},"200":{"description":"Стикерсет найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"},"example":{"id":1,"userId":123456789,"title":"Мои стикеры","name":"my_stickers_by_StickerGalleryBot","createdAt":"2025-09-15T10:30:00","likesCount":42,"isLikedByCurrentUser":true,"telegramStickerSetInfo":"{\"name\":\"my_stickers_by_StickerGalleryBot\",\"title\":\"Мои стикеры\",\"sticker_type\":\"regular\",\"is_animated\":false,\"stickers\":[...]}","categories":[{"id":1,"key":"animals","name":"Животные","description":"Стикеры с животными","iconUrl":null,"displayOrder":1,"isActive":true}],"isPublic":true,"isBlocked":false,"blockReason":null}}}}},"security":[{"TelegramInitData":[]}]},"delete":{"tags":["Стикерсеты"],"summary":"Удалить стикерсет","description":"Удаляет стикерсет по его ID. Администратор может удалять любые стикерсеты, обычный пользователь - только свои.","operationId":"deleteStickerSet","parameters":[{"name":"id","in":"path","description":"ID стикерсета для удаления","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"204":{"description":"Стикерсет успешно удален"},"400":{"description":"Некорректный ID (должен быть положительным числом)"},"401":{"description":"Не авторизован - требуется Telegram Web App авторизация"},"404":{"description":"Стикерсет с указанным ID не найден"},"500":{"description":"Внутренняя ошибка сервера"},"403":{"description":"Доступ запрещен - можно удалять только свои стикерсеты"}},"security":[{"TelegramInitData":[]}]}},"/api/stickersets/user/{userId}":{"get":{"tags":["Стикерсеты"],"summary":"Получить стикерсеты пользователя с пагинацией","description":"Возвращает стикерсеты, созданные конкретным пользователем, с пагинацией и обогащением данных из Telegram Bot API. Поддерживает фильтры по категориям, наличию автора и лайкам текущего пользователя. Если запрос выполняет владелец (userId совпадает с авторизованным пользователем из initData) или администратор, возвращаются все его стикерсеты. Для остальных пользователей возвращаются только публичные (isPublic = true).","operationId":"getStickerSetsByUserId","parameters":[{"name":"userId","in":"path","description":"Telegram ID пользователя","required":true,"schema":{"type":"integer","format":"int64"},"example":123456789},{"name":"page","in":"query","description":"Номер страницы (начиная с 0)","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Количество элементов на странице (1-100)","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","format":"int32","default":20},"example":20},{"name":"sort","in":"query","description":"Поле для сортировки","required":false,"schema":{"type":"string","default":"createdAt"},"example":"createdAt"},{"name":"direction","in":"query","description":"Направление сортировки","required":false,"schema":{"pattern":"ASC|DESC","type":"string","default":"DESC"},"example":"DESC"},{"name":"categoryKeys","in":"query","description":"Фильтр по ключам категорий (через запятую)","required":false,"schema":{"type":"string"},"example":"animals,cute"},{"name":"hasAuthorOnly","in":"query","description":"Показывать только авторские стикерсеты (authorId IS NOT NULL)","required":false,"schema":{"type":"boolean","default":false},"example":false},{"name":"likedOnly","in":"query","description":"Показать только лайкнутые текущим пользователем стикерсеты","required":false,"schema":{"type":"boolean","default":false},"example":false}],"responses":{"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseStickerSetDto"}}}},"200":{"description":"Список стикерсетов пользователя получен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponse"},"example":{"content":[{"id":1,"userId":123456789,"title":"Мои стикеры","name":"my_stickers_by_StickerGalleryBot","createdAt":"2025-09-15T10:30:00","telegramStickerSetInfo":"{\"name\":\"my_stickers_by_StickerGalleryBot\",\"title\":\"Мои стикеры\",\"sticker_type\":\"regular\",\"is_animated\":false,\"stickers\":[...]}"}],"page":0,"size":20,"totalElements":5,"totalPages":1,"first":true,"last":true,"hasNext":false,"hasPrevious":false}}}},"400":{"description":"Некорректные параметры","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseStickerSetDto"}}}},"500":{"description":"Внутренняя ошибка сервера или проблемы с Telegram Bot API","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseStickerSetDto"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/stickersets/top-bylikes":{"get":{"tags":["Стикерсеты"],"summary":"Получить топ стикерсетов по лайкам","description":"Возвращает список стикерсетов, отсортированных по количеству лайков (по убыванию). Поддерживает локализацию названий категорий через заголовок X-Language (ru/en) или автоматически из initData пользователя. Включает информацию о том, лайкнул ли текущий пользователь каждый стикерсет.","operationId":"getTopStickerSetsByLikes","parameters":[{"name":"page","in":"query","description":"Номер страницы (начиная с 0)","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Количество элементов на странице (1-100)","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","format":"int32","default":20},"example":20},{"name":"officialOnly","in":"query","description":"Показывать только официальные стикерсеты","required":false,"schema":{"type":"boolean","default":false},"example":false},{"name":"authorId","in":"query","description":"Фильтр по автору (Telegram ID)","required":false,"schema":{"type":"integer","format":"int64"},"example":123456789},{"name":"hasAuthorOnly","in":"query","description":"Показывать только авторские стикерсеты (authorId IS NOT NULL)","required":false,"schema":{"type":"boolean","default":false},"example":false}],"responses":{"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseStickerSetDto"}}}},"200":{"description":"Топ стикерсетов по лайкам успешно получен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponse"},"examples":{"Обычный топ":{"description":"Обычный топ","value":{"content":[{"id":5,"userId":123456789,"title":"Популярные стикеры","name":"popular_stickers_by_StickerGalleryBot","createdAt":"2025-01-15T10:30:00","likesCount":42,"isLikedByCurrentUser":true,"categories":[]}],"totalElements":1,"totalPages":1,"size":20,"number":0,"first":true,"last":true,"numberOfElements":1}},"Топ официальных (officialOnly=true)":{"description":"Топ официальных (officialOnly=true)","value":{"content":[{"id":6,"userId":333333333,"title":"Оф топ","name":"official_top_by_StickerGalleryBot","isOfficial":true,"likesCount":99,"categories":[]}],"totalElements":1,"totalPages":1,"size":20,"number":0,"first":true,"last":true,"numberOfElements":1}},"Топ по автору (authorId=123456789)":{"description":"Топ по автору (authorId=123456789)","value":{"content":[{"id":7,"userId":444444444,"title":"Авторский топ","name":"author_top_by_StickerGalleryBot","authorId":123456789,"likesCount":50,"categories":[]}],"totalElements":1,"totalPages":1,"size":20,"number":0,"first":true,"last":true,"numberOfElements":1}},"Топ только авторских (hasAuthorOnly=true)":{"description":"Топ только авторских (hasAuthorOnly=true)","value":{"content":[{"id":8,"userId":555555555,"title":"Авторские","name":"authored_top_by_StickerGalleryBot","authorId":999999999,"likesCount":25,"categories":[]}],"totalElements":1,"totalPages":1,"size":20,"number":0,"first":true,"last":true,"numberOfElements":1}}}}}},"400":{"description":"Некорректные параметры пагинации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseStickerSetDto"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/stickersets/search":{"get":{"tags":["Стикерсеты"],"summary":"Поиск стикерсета по названию","description":"Ищет стикерсет по его уникальному имени (name). Имя используется в Telegram API.","operationId":"getStickerSetByName","parameters":[{"name":"name","in":"query","description":"Уникальное имя стикерсета для Telegram API","required":true,"schema":{"type":"string"},"example":"my_stickers_by_StickerGalleryBot"}],"responses":{"404":{"description":"Стикерсет с указанным названием не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}},"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}},"400":{"description":"Некорректное название (не может быть пустым)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"}}}},"200":{"description":"Стикерсет найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StickerSetDto"},"example":{"id":1,"userId":123456789,"title":"Мои стикеры","name":"my_stickers_by_StickerGalleryBot","createdAt":"2025-09-15T10:30:00"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/stickersets/author/{authorId}":{"get":{"tags":["Стикерсеты"],"summary":"Получить авторские стикерсеты","description":"Возвращает стикерсеты, у которых указан переданный authorId. Если запрос выполняет владелец (authorId совпадает с авторизованным пользователем из initData) или администратор, возвращаются все его стикерсеты (включая приватные). Иначе возвращаются только публичные (isPublic = true).","operationId":"getStickerSetsByAuthorId","parameters":[{"name":"authorId","in":"path","description":"Telegram ID автора","required":true,"schema":{"type":"integer","format":"int64"},"example":123456789},{"name":"page","in":"query","description":"Номер страницы (начиная с 0)","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Количество элементов на странице (1-100)","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","format":"int32","default":20},"example":20},{"name":"sort","in":"query","description":"Поле для сортировки","required":false,"schema":{"type":"string","default":"createdAt"},"example":"createdAt"},{"name":"direction","in":"query","description":"Направление сортировки","required":false,"schema":{"pattern":"ASC|DESC","type":"string","default":"DESC"},"example":"DESC"},{"name":"categoryKeys","in":"query","description":"Фильтр по ключам категорий (через запятую)","required":false,"schema":{"type":"string"},"example":"animals,cute"}],"responses":{"200":{"description":"Список авторских стикерсетов получен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponse"}}}},"401":{"description":"Не авторизован - требуется Telegram Web App авторизация","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseStickerSetDto"}}}},"400":{"description":"Некорректные параметры","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseStickerSetDto"}}}},"500":{"description":"Внутренняя ошибка сервера или проблемы с Telegram Bot API","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseStickerSetDto"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/proxy/stickers/{fileId}":{"get":{"tags":["Прокси стикеров"],"summary":"Получить файл стикера","description":"Проксирует запрос к внешнему сервису стикеров с кэшированием в Redis","operationId":"getSticker","parameters":[{"name":"fileId","in":"path","description":"Telegram file_id стикера","required":true,"schema":{"pattern":"^[A-Za-z0-9_-]{10,100}$","type":"string"},"example":"CAACAgIAAxUAAWjHy88gzacLGK1i0RSiNtiW81kJAALgAAP3AsgPYqAgfkyPleo2BA"}],"responses":{"200":{"description":"Файл стикера успешно получен","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Стикер не найден","content":{"application/json":{"schema":{"type":"object"}}}},"502":{"description":"Ошибка внешнего сервиса","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Некорректный file_id","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/proxy/stickers/cache/stats":{"get":{"tags":["Прокси стикеров"],"summary":"Получить детальную статистику Redis кэша","description":"Возвращает подробную статистику локального Redis кэша стикеров: размеры, распределение, топ файлов","operationId":"getLocalCacheStats","responses":{"200":{"description":"Статистика кэша успешно получена","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/proxy/stickers/cache/external-stats":{"get":{"tags":["Прокси стикеров"],"summary":"Получить статистику внешнего сервиса","description":"Проксирует запрос статистики кэша к внешнему сервису стикеров","operationId":"getExternalCacheStats","responses":{"200":{"description":"Статистика внешнего сервиса успешно получена","content":{"application/json":{"schema":{"type":"object"}}}},"502":{"description":"Ошибка внешнего сервиса","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/profiles/{userId}":{"get":{"tags":["Профили пользователей"],"summary":"Получить профиль пользователя по ID","description":"Возвращает профиль пользователя по его Telegram ID","operationId":"getProfileById","parameters":[{"name":"userId","in":"path","description":"Telegram ID пользователя","required":true,"schema":{"type":"integer","format":"int64"},"example":123456789}],"responses":{"200":{"description":"Профиль найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileDto"},"example":{"id":1,"userId":123456789,"role":"USER","artBalance":100,"user":{"id":123456789,"username":"testuser","firstName":"Test","lastName":"User","languageCode":"ru","isPremium":true,"createdAt":"2025-10-20T10:00:00Z","updatedAt":"2025-10-20T10:00:00Z"},"createdAt":"2025-01-15T10:30:00Z","updatedAt":"2025-01-15T14:30:00Z"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileDto"}}}},"404":{"description":"Профиль не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileDto"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/profiles/me":{"get":{"tags":["Профили пользователей"],"summary":"Получить мой профиль","description":"Возвращает профиль текущего авторизованного пользователя","operationId":"getMyProfile","responses":{"200":{"description":"Профиль найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileDto"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileDto"}}}},"404":{"description":"Профиль не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileDto"}}}}},"security":[{"TelegramInitData":[]}]}},"/api/likes":{"get":{"tags":["Likes"],"summary":"Получить все лайки текущего пользователя","description":"Возвращает список всех лайков текущего пользователя с пагинацией.","operationId":"getUserLikes","parameters":[{"name":"page","in":"query","description":"Номер страницы (начиная с 0)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Размер страницы","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20}],"responses":{"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseLikeDto"}}}},"200":{"description":"Список лайков успешно получен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponse"},"example":{"content":[{"id":1,"userId":123456789,"stickerSetId":5,"createdAt":"2025-01-15T10:30:00"}],"totalElements":1,"totalPages":1,"size":20,"number":0,"first":true,"last":true,"numberOfElements":1}}}},"401":{"description":"Не авторизован","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseLikeDto"}}}}}}},"/api/likes/top-stickersets":{"get":{"tags":["Likes"],"summary":"Получить топ стикерсетов по лайкам","description":"Возвращает список стикерсетов, отсортированных по количеству лайков (по убыванию). Поддерживает локализацию названий категорий через заголовок X-Language (ru/en) или автоматически из initData пользователя. Включает информацию о том, лайкнул ли текущий пользователь каждый стикерсет.","operationId":"getTopStickerSetsByLikes_1","parameters":[{"name":"page","in":"query","description":"Номер страницы (начиная с 0)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Размер страницы","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20}],"responses":{"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseStickerSetWithLikesDto"}}}},"200":{"description":"Топ стикерсетов по лайкам успешно получен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponse"},"example":{"content":[{"stickerSet":{"id":5,"userId":123456789,"title":"Популярные стикеры","name":"popular_stickers_by_StickerGalleryBot","createdAt":"2025-01-15T10:30:00","categories":[]},"likesCount":42,"isLikedByCurrentUser":true}],"totalElements":1,"totalPages":1,"size":20,"number":0,"first":true,"last":true,"numberOfElements":1}}}}}}},"/api/likes/test-system":{"get":{"tags":["Likes"],"summary":"Тест системы лайков","description":"Возвращает информацию о системе лайков для тестирования","operationId":"testLikeSystem","responses":{"200":{"description":"Информация о системе лайков","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/likes/stickersets":{"get":{"tags":["Likes"],"summary":"Получить лайкнутые стикерсеты текущего пользователя","description":"Возвращает список стикерсетов, которые лайкнул текущий пользователь, отсортированных по дате лайка (новые сначала). Поддерживает локализацию названий категорий через заголовок X-Language (ru/en) или автоматически из initData пользователя.","operationId":"getLikedStickerSets","parameters":[{"name":"page","in":"query","description":"Номер страницы (начиная с 0)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"Размер страницы","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20}],"responses":{"200":{"description":"Список лайкнутых стикерсетов успешно получен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponse"},"example":{"content":[{"id":5,"userId":123456789,"title":"Мои стикеры","name":"my_stickers_by_StickerGalleryBot","createdAt":"2025-01-15T10:30:00","categories":[]}],"totalElements":1,"totalPages":1,"size":20,"number":0,"first":true,"last":true,"numberOfElements":1}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseStickerSetDto"}}}},"401":{"description":"Не авторизован","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageResponseStickerSetDto"}}}}}}},"/api/config":{"get":{"tags":["Config"],"summary":"Получить конфигурацию приложения","description":"Возвращает конфигурацию приложения, включая имя бота и URL мини-приложения","operationId":"getConfig","responses":{"200":{"description":"Конфигурация успешно получена","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/categories/{key}/count":{"get":{"tags":["Categories"],"summary":"Получить количество стикерсетов в категории","description":"Возвращает количество стикерсетов, привязанных к категории","operationId":"getStickerSetCount","parameters":[{"name":"key","in":"path","description":"Уникальный ключ категории","required":true,"schema":{"type":"string"},"example":"animals"}],"responses":{"404":{"description":"Категория не найдена","content":{"application/json":{"schema":{"type":"object"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"object"}}}},"200":{"description":"Количество успешно получено","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/categories/counts":{"get":{"tags":["Categories"],"summary":"Получить активные категории с количеством стикерсетов","description":"Возвращает список активных категорий с количеством публичных и не заблокированных стикерсетов в каждой. Поддерживает фильтры: officialOnly, authorId, hasAuthorOnly.","operationId":"getCategoriesWithCounts","parameters":[{"name":"officialOnly","in":"query","description":"Показывать только официальные стикерсеты","required":false,"schema":{"type":"boolean","default":false},"example":false},{"name":"authorId","in":"query","description":"Фильтр по автору (Telegram ID)","required":false,"schema":{"type":"integer","format":"int64"},"example":123456789},{"name":"hasAuthorOnly","in":"query","description":"Показывать только авторские стикерсеты (authorId IS NOT NULL)","required":false,"schema":{"type":"boolean","default":false},"example":false}],"responses":{"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryWithCountDto"}}}}},"200":{"description":"Список категорий с количеством успешно получен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryWithCountDto"}}}}}}},"/api/categories/ai/suggest":{"get":{"tags":["Categories"],"summary":"Предложить категории для заголовка стикерсета","description":"Использует AI для анализа произвольного title и предложения подходящих категорий из существующих. Не требует наличия стикерсета в базе. Результаты кешируются на 1 час.","operationId":"suggestCategoriesForTitle","parameters":[{"name":"title","in":"query","description":"Заголовок стикерсета для анализа","required":true,"schema":{"type":"string"},"example":"Cute Cats"}],"responses":{"400":{"description":"Title не указан или пустой","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorySuggestionResult"}}}},"200":{"description":"Категории успешно предложены","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorySuggestionResult"}}}},"500":{"description":"Ошибка при работе с AI","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorySuggestionResult"}}}}}}},"/api/auth/status":{"get":{"tags":["Аутентификация"],"summary":"Проверка статуса аутентификации","description":"Возвращает текущий статус аутентификации пользователя","operationId":"getAuthStatus","responses":{"200":{"description":"Статус получен успешно","content":{"application/json":{"schema":{"type":"string"},"example":{"authenticated":true,"telegramId":123456789,"username":"testuser","role":"USER"}}}}}}}},"components":{"schemas":{"CategoryDto":{"type":"object","properties":{"id":{"type":"integer","description":"ID категории","format":"int64","example":1},"key":{"type":"string","description":"Уникальный ключ категории","example":"animals"},"name":{"type":"string","description":"Локализованное название категории","example":"Животные"},"description":{"type":"string","description":"Локализованное описание категории","example":"Стикеры с животными"},"iconUrl":{"type":"string","description":"URL иконки категории","example":"https://example.com/icons/animals.png"},"displayOrder":{"type":"integer","description":"Порядок отображения","format":"int32","example":1},"isActive":{"type":"boolean","description":"Активна ли категория","example":true}},"description":"Информация о категории стикерсета"},"StickerSetDto":{"required":["name","title","userId"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"title":{"maxLength":64,"minLength":0,"pattern":"^[\\p{L}\\p{N}\\s\\-_.,!?()]+$","type":"string"},"name":{"maxLength":64,"minLength":1,"pattern":"^[a-zA-Z0-9_]+$","type":"string"},"createdAt":{"type":"string","format":"date-time"},"telegramStickerSetInfo":{"type":"object","description":"Полная информация о стикерсете из Telegram Bot API (JSON объект). Может быть null, если данные недоступны.","nullable":true,"example":"{\"name\":\"my_stickers_by_StickerGalleryBot\",\"title\":\"Мои стикеры\",\"sticker_type\":\"regular\",\"is_animated\":false,\"is_video\":false,\"stickers\":[...]}"},"categories":{"type":"array","description":"Список категорий стикерсета","items":{"$ref":"#/components/schemas/CategoryDto"}},"likesCount":{"type":"integer","description":"Количество лайков стикерсета","format":"int64","example":42},"isPublic":{"type":"boolean","description":"Публичный стикерсет (виден в галерее) или приватный (виден только владельцу)","example":true},"isBlocked":{"type":"boolean","description":"Заблокирован ли стикерсет админом (не виден никому кроме админа)","example":false},"blockReason":{"type":"string","description":"Причина блокировки стикерсета","nullable":true,"example":"Нарушение правил сообщества"},"isOfficial":{"type":"boolean","description":"Официальный стикерсет Telegram","example":true},"authorId":{"type":"integer","description":"Telegram ID автора стикерсета (только отображение)","format":"int64","nullable":true,"example":123456789},"isLikedByCurrentUser":{"type":"boolean"}}},"UserDto":{"required":["id"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"firstName":{"maxLength":255,"minLength":0,"type":"string"},"lastName":{"maxLength":255,"minLength":0,"type":"string"},"username":{"maxLength":255,"minLength":0,"type":"string"},"languageCode":{"maxLength":10,"minLength":0,"type":"string"},"isPremium":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"UserProfileDto":{"required":["artBalance","userId"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"role":{"pattern":"^(USER|ADMIN)$","type":"string"},"artBalance":{"minimum":0,"type":"integer","format":"int64"},"isBlocked":{"type":"boolean"},"user":{"$ref":"#/components/schemas/UserDto"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"LikeToggleResult":{"type":"object","properties":{"totalLikes":{"type":"integer","description":"Общее количество лайков стикерсета","format":"int64","example":42},"liked":{"type":"boolean"}},"description":"Результат переключения лайка стикерсета"},"UpdateCategoryDto":{"type":"object","properties":{"nameRu":{"maxLength":100,"minLength":0,"type":"string","description":"Название категории на русском языке","example":"Животные"},"nameEn":{"maxLength":100,"minLength":0,"type":"string","description":"Название категории на английском языке","example":"Animals"},"descriptionRu":{"maxLength":1000,"minLength":0,"type":"string","description":"Описание категории на русском языке","example":"Стикеры с животными"},"descriptionEn":{"maxLength":1000,"minLength":0,"type":"string","description":"Описание категории на английском языке","example":"Stickers with animals"},"iconUrl":{"maxLength":255,"minLength":0,"type":"string","description":"URL иконки категории","example":"https://example.com/icons/animals.png"},"displayOrder":{"minimum":0,"type":"integer","description":"Порядок отображения категории","format":"int32","example":1},"isActive":{"type":"boolean","description":"Активна ли категория","example":true}},"description":"Данные для обновления категории"},"CreateStickerSetDto":{"required":["name"],"type":"object","properties":{"title":{"maxLength":64,"minLength":0,"pattern":"^[\\p{L}\\p{N}\\s\\-_.,!?()]*$","type":"string","description":"Название стикерсета. Если не указано, будет получено из Telegram API.","example":"Мои стикеры"},"name":{"maxLength":200,"minLength":1,"type":"string","description":"Уникальное имя стикерсета для Telegram API или URL стикерсета. Обязательное поле. Поддерживает два формата: имя стикерсета или URL вида https://t.me/addstickers/имя_стикерсета","example":"my_stickers_by_StickerGalleryBot"},"categoryKeys":{"uniqueItems":true,"type":"array","description":"Ключи категорий для стикерсета. Необязательное поле.","example":["animals","cute"],"items":{"type":"string","description":"Ключи категорий для стикерсета. Необязательное поле.","example":"[\"animals\",\"cute\"]"}},"isPublic":{"type":"boolean","description":"Флаг публикации в галерее. По умолчанию true.","example":true}},"description":"Данные для создания нового стикерсета"},"CategorySuggestionResult":{"type":"object","properties":{"analyzedTitle":{"type":"string","description":"Заголовок стикерсета, который был проанализирован","example":"Cute Cats"},"suggestedCategories":{"type":"array","description":"Список предложенных категорий с уровнем уверенности","items":{"$ref":"#/components/schemas/CategoryWithConfidence"}},"reasoning":{"type":"string","description":"Краткое объяснение выбора категорий (опционально)"}},"description":"Результат анализа AI с предложенными категориями"},"CategoryWithConfidence":{"type":"object","properties":{"categoryKey":{"type":"string","description":"Ключ категории","example":"animals"},"categoryName":{"type":"string","description":"Название категории на выбранном языке","example":"Животные"},"confidence":{"maximum":1,"minimum":0,"type":"number","description":"Уровень уверенности AI (0.0 - 1.0)","format":"double","example":0.95},"reason":{"type":"string","description":"Причина выбора этой категории","example":"Contains cat-related imagery"}},"description":"Категория с уровнем уверенности"},"LikeDto":{"type":"object","properties":{"id":{"type":"integer","description":"Уникальный идентификатор лайка","format":"int64","example":1},"userId":{"type":"integer","description":"ID пользователя, который поставил лайк","format":"int64","example":123456789},"stickerSetId":{"type":"integer","description":"ID стикерсета, который лайкнули","format":"int64","example":5},"createdAt":{"type":"string","description":"Дата и время создания лайка","format":"date-time"}},"description":"Информация о лайке стикерсета"},"CreateCategoryDto":{"required":["key","nameEn","nameRu"],"type":"object","properties":{"key":{"maxLength":50,"minLength":2,"pattern":"^[a-z_]+$","type":"string","description":"Уникальный ключ категории (только строчные латинские буквы и подчеркивания)","example":"animals"},"nameRu":{"maxLength":100,"minLength":0,"type":"string","description":"Название категории на русском языке","example":"Животные"},"nameEn":{"maxLength":100,"minLength":0,"type":"string","description":"Название категории на английском языке","example":"Animals"},"descriptionRu":{"maxLength":1000,"minLength":0,"type":"string","description":"Описание категории на русском языке","example":"Стикеры с животными"},"descriptionEn":{"maxLength":1000,"minLength":0,"type":"string","description":"Описание категории на английском языке","example":"Stickers with animals"},"iconUrl":{"maxLength":255,"minLength":0,"type":"string","description":"URL иконки категории","example":"https://example.com/icons/animals.png"},"displayOrder":{"minimum":0,"type":"integer","description":"Порядок отображения категории","format":"int32","example":1}},"description":"Данные для создания новой категории"},"PageResponse":{"type":"object","properties":{"content":{"type":"array","description":"Данные текущей страницы","items":{"type":"object","description":"Данные текущей страницы"}},"page":{"type":"integer","description":"Номер текущей страницы (начиная с 0)","format":"int32","example":0},"size":{"type":"integer","description":"Размер страницы","format":"int32","example":20},"totalElements":{"type":"integer","description":"Общее количество элементов","format":"int64","example":156},"totalPages":{"type":"integer","description":"Общее количество страниц","format":"int32","example":8},"first":{"type":"boolean","description":"Является ли текущая страница первой","example":true},"last":{"type":"boolean","description":"Является ли текущая страница последней","example":false},"hasNext":{"type":"boolean","description":"Есть ли следующая страница","example":true},"hasPrevious":{"type":"boolean","description":"Есть ли предыдущая страница","example":false}},"description":"Ответ с данными и информацией о пагинации"},"PageResponseStickerSetDto":{"type":"object","properties":{"content":{"type":"array","description":"Данные текущей страницы","items":{"$ref":"#/components/schemas/StickerSetDto"}},"page":{"type":"integer","description":"Номер текущей страницы (начиная с 0)","format":"int32","example":0},"size":{"type":"integer","description":"Размер страницы","format":"int32","example":20},"totalElements":{"type":"integer","description":"Общее количество элементов","format":"int64","example":156},"totalPages":{"type":"integer","description":"Общее количество страниц","format":"int32","example":8},"first":{"type":"boolean","description":"Является ли текущая страница первой","example":true},"last":{"type":"boolean","description":"Является ли текущая страница последней","example":false},"hasNext":{"type":"boolean","description":"Есть ли следующая страница","example":true},"hasPrevious":{"type":"boolean","description":"Есть ли предыдущая страница","example":false}},"description":"Ответ с данными и информацией о пагинации"},"PageResponseLikeDto":{"type":"object","properties":{"content":{"type":"array","description":"Данные текущей страницы","items":{"$ref":"#/components/schemas/LikeDto"}},"page":{"type":"integer","description":"Номер текущей страницы (начиная с 0)","format":"int32","example":0},"size":{"type":"integer","description":"Размер страницы","format":"int32","example":20},"totalElements":{"type":"integer","description":"Общее количество элементов","format":"int64","example":156},"totalPages":{"type":"integer","description":"Общее количество страниц","format":"int32","example":8},"first":{"type":"boolean","description":"Является ли текущая страница первой","example":true},"last":{"type":"boolean","description":"Является ли текущая страница последней","example":false},"hasNext":{"type":"boolean","description":"Есть ли следующая страница","example":true},"hasPrevious":{"type":"boolean","description":"Есть ли предыдущая страница","example":false}},"description":"Ответ с данными и информацией о пагинации"},"PageResponseStickerSetWithLikesDto":{"type":"object","properties":{"content":{"type":"array","description":"Данные текущей страницы","items":{"$ref":"#/components/schemas/StickerSetWithLikesDto"}},"page":{"type":"integer","description":"Номер текущей страницы (начиная с 0)","format":"int32","example":0},"size":{"type":"integer","description":"Размер страницы","format":"int32","example":20},"totalElements":{"type":"integer","description":"Общее количество элементов","format":"int64","example":156},"totalPages":{"type":"integer","description":"Общее количество страниц","format":"int32","example":8},"first":{"type":"boolean","description":"Является ли текущая страница первой","example":true},"last":{"type":"boolean","description":"Является ли текущая страница последней","example":false},"hasNext":{"type":"boolean","description":"Есть ли следующая страница","example":true},"hasPrevious":{"type":"boolean","description":"Есть ли предыдущая страница","example":false}},"description":"Ответ с данными и информацией о пагинации"},"StickerSetWithLikesDto":{"type":"object","properties":{"stickerSet":{"$ref":"#/components/schemas/StickerSetDto"},"likesCount":{"type":"integer","description":"Количество лайков","format":"int64","example":42},"likedByCurrentUser":{"type":"boolean"}},"description":"Стикерсет с информацией о лайках"},"CategoryWithCountDto":{"type":"object","properties":{"key":{"type":"string","description":"Ключ категории","example":"animals"},"name":{"type":"string","description":"Локализованное название категории","example":"Животные"},"count":{"type":"integer","description":"Количество стикерсетов в категории","format":"int64","example":42}},"description":"Категория с количеством стикерсетов"}},"securitySchemes":{"TelegramInitData":{"type":"apiKey","description":"Telegram Web App initData строка.\n\nПример:\n```\nquery_id=AAHdF6IQAAAAAN0XohDhrOrc&user=%7B%22id%22%3A123456789%2C%22first_name%22%3A%22John%22%2C%22last_name%22%3A%22Doe%22%2C%22username%22%3A%22johndoe%22%2C%22language_code%22%3A%22en%22%7D&auth_date=1640995200&hash=abc123...\n```\n\nДля тестирования в dev профиле можно использовать тестовый initData из конфигурации.\n","name":"X-Telegram-Init-Data","in":"header"},"ServiceToken":{"type":"apiKey","description":"Межсервисный токен (API key) для доступа к внутренним эндпоинтам.\n","name":"X-Service-Token","in":"header"}}}}