.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary, var(--tg-theme-button-color));
}
.spinner-svg {
  width: 100%;
  height: 100%;
  animation: spinner-rotate 0.8s linear infinite;
}
.spinner-circle {
  stroke-dashoffset: 0;
  transform-origin: center;
}
@keyframes spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}
